*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower',
    cursive;
}

body{
    display: flex;
   /*  border: 2px solid black; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #8EBED6;
    background-size: cover;
    color: white;
    max-height: 100%;
    justify-content: center;
}

.guess{
    margin-top: 3rem;
    padding: 3rem;
}
.guess h1{
    margin-bottom: 2rem;
}

#outputtext{
    margin-bottom: 2rem;
    font-size: 2rem;
}

#userinput{
    border: 2px solid rgb(177, 126, 177);
    height: 2rem;
    width: 30%;
    border-radius: 5px;
}
div button{
    background-color: rgb(177, 126, 177);
    border: none;
    height: 2rem;
    width: 10%;
    transition: all ease-in-out 200ms;
}
button:hover{
    outline: 2px solid white;
    outline-offset: 1px;
}

.hat-img{
    width: 25%;
}

.hat{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    margin-bottom: 1rem;
    padding: 6rem;
}

.hat-write{
    line-height: 2rem;
    font-size: 20px;
}

@media screen and (max-width:600px) {
    h1{
        font-size: 1.3em;
    }

    #outputtext{
        font-size: 1.3em;
    }

    #btn {
        width: 30%;
    }

    #userinput{
        margin-left: 15%;
    }

}